{{#each this}}
<div class="card">
    <div class="card-header">
        <h4>Comment:</h4>
    </div>
    <h5 class="card-body">{{commentBody}}</h5>
        <ul>
            <li>
                <p>Posted by {{user.name}} </p>
            </li>
            <li>
                <p>Posted at: {{date}}</p>
            </li>
        </ul>
</div>
{{/each}}