{{#each posts as |post| }}
<div class="card align-center mb-5">
  <div class="card-body">
    <h2 class="card-title">{{{post.title}}}</h2>
    <p class="card-text">{{{post.body}}}</p>
    <ul class="list-group">
      <li class="list-group-item">
        {{{post.date}}}
      </li>
    </ul>
  </div>
</div>
{{/each}}