{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    {{#each posts as |post|}}
        {{> dashPostDetails post}}
    {{/each}}

</section>
{{else}}
    <h2>Better Start Posting!</h2>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dash/new">+ New Post</a></button>

<script src="/javascript/add-post.js"></script>