{{> postDetails post}}

{{#if loggedIn}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body commentForm" id="commentForm">

        <label class="form-label">Comment</label>
        <input id="comment" name="commentBody" class="form-input" />

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}

{{> comment post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}